
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --font: "Nunito Sans", sans-serif;
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --dark-mode-text-and-light-mode-elements: hsl(0, 0%, 100%);
  --image-white: url("../src/assets/Vector.png");
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
}

body.classDark {
  --dark-mode-background: hsl(0, 0%, 100%);
  --light-mode-text: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --dark-mode-elements: none;
    --input:hsl(207,
      26%,
      17%);
  --dark-mode-text-and-light-mode-elements: hsl(209, 23%, 22%);
  --image-white: url("../src/assets/arrowLeftWhite1.png");
  background-color: var(--background);
  box-shadow: none;
}

img {
  max-width: 100%;
}

.main {
  max-width: 1440px;
  margin:2rem auto;
  height: auto;
  position: relative;
}

/* Header*/

header {
  width: 100%;
  height: 80px;
  margin: 0   auto;
  box-shadow: 0px 0px 5px var(--input);
  background-color: var(--dark-mode-text-and-light-mode-elements);
}

.header_title {
  font-size: 24px;
  font-weight: 700;
  color: var(--light-mode-text);
}

.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.containerheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.container_button {
    color: var(--light-mode-text);
    font-size: 1.2rem;
  font-weight: 400;
}
.container_button__title {
  margin-left: 0.5rem;
  font-weight: 400;
  color: var(--light-mode-text);
}

.dark_mode {
  width: 1.5rem;
  margin-right: 0.5rem;
}



/* Input */
.searchCountry {
  width: 40%;
  display: flex;
  height: 50px;
  margin: 2rem 0;
  justify-content: left;
  align-content: center;
  box-shadow: 0px 1px 5px var(--input);
  border-radius: 5px;
  background-color: var(--dark-mode-text-and-light-mode-elements);
}

.searchCountry img {
  background-color: white;
  width: 40px;
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: var(--dark-mode-text-and-light-mode-elements);
}

.select-flag {
  display: inline-block;
  position: absolute;
  width: 15%;
  top: 0;
  right: 0;
}

.searchCountry input {
  border: none;
  padding: 0.5rem;
  width: 80%;
  outline: none;
  color: var(--light-mode-text);
  background-color: var(--dark-mode-text-and-light-mode-elements);
}

/* Filter */
.filterRegionArrow {
  background: var(--image-white);
  transform: rotate(-90deg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.mainFilter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 5px var(--dark-mode-elements);
  border-radius: 5px;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: var(--light-mode-text);
}

.mainFilter img {
  width: 15px;
  transform: rotate(180deg);
}

.options {
  box-shadow: 0px 1px 5px var(--dark-mode-elements);
  border-radius: 5px;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  width: 100%;
  position: absolute;
  padding: 0.5rem 0;
  cursor: pointer;
  color: var(--light-mode-text);
}

.options p {
  display: block;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  margin: 0;
  color: var(--light-mode-text);
}

.options p:hover {
  background-color: var(--input);
  color: var(--light-mode-text);
}

.clearText {
  font-weight: 700;
  color: var(--light-mode-text);
  cursor: pointer;
}

.none {
  display: none;
}

#containerFlags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  height: auto;
  gap: 47px;
}

.flag {
  background-color: var(--dark-mode-text-and-light-mode-elements);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 5px var(--input);
  border-radius: 10px;
  margin: 1rem auto;
}


.flag_image {
  width: 100%;
  height: 209px;
  border-radius: 10px;
}

 .flag_image a {
   width: 100%;
   height: 100%;
   display: block;
  border-radius: 10px;
 }

 .flag a img {
   aspect-ratio: 3.2 / 2;
   object-fit: cover;
   height: 100%;
   width: 100%;
  border-radius: 10px 10px 0 0;
 }
.flag_short__description {
  margin: 1rem 0 1rem 1.5rem;
  color: var(--light-mode-text);
}

.flag_short__description p {
  color: var(--light-mode-text);
}

.title_flag {
  margin: 0;
  color: var(--light-mode-text);
}

.filter {
  display: none;
}

/* Single Flag */
.backHome {
  border-radius: .3rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 2rem 0 4rem;
  background-color: var(--dark-mode-text-and-light-mode-elements);
  border: none;
  outline: none;
  box-shadow: 0px 1px 5px var(--input);
  cursor: pointer;
}

.back {
  background: var(--image-white);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.backHome p {
  color: var(--light-mode-text);
  padding: 0.2rem;
  text-decoration: none;
  
}

.backHome img {
  transform: rotate(-90deg);
  width: 20%;
  margin-right: 1rem;
}

.container-flag {
  display: flex;
  justify-content: space-between;
}

.imgContainer {
  width: 40%;
  margin-right: 3rem;
}

.imgContainer img {
      width: 100%;
        height: 100%;
        object-fit: cover;
        height: 100%;
        width: 100%;
}

.containerallData {
  display: flex;
  justify-content: space-between;
}

.specs {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: var(--light-mode-text);
}

.border {
  display: flex;
  align-items: center;
}

.bordeCountry a {
  display: inline-block;
  font-size: 12px;
  padding: 0.25rem 1rem;
  background-color: var(--dark-mode-text-and-light-mode-elements);
text-decoration: none;
color: var(--light-mode-text);
  box-shadow: 0px 1px 5px var(--input);
  margin: .25rem 0.5rem 0 0.5rem;
}

.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

/* Cards */
@media screen and (max-width: 428px) {
  .containerheader {
      width: 90%;
    }
  #containerFlags {
    width: 70%;
    margin: 0 auto;
  }

  .searchCountry {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .searchCountry input {
    width: 85%;
  }

  .select-flag {
    display: block;
    position: relative;
    width: 50%;
    margin-left: 1.2rem;
  }

  .flag {
    background-color: var(--dark-mode-text-and-light-mode-elements);
    display: grid;
    width: 100%;
    box-shadow: 0px 1px 5px var(--dark-mode-elements);
    border-radius: 10px;
    margin: 1rem auto;
  }


 
.flag a img {
  aspect-ratio: 3.2 / 2;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

  .filter {
    display: none;
  }

  .container-flag {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .imgContainer {
    width: 100%;
  }

  .specs {
    width: 100%;
  }

  .containerallData {
    flex-direction: column;
  }

  .country-spec,
  .frontier,
  .border {
    margin: 0;
    font-size: 14px;
    width: 100%;
  }

  .border {
    flex-direction: column;
  }

  .border p {
    font-size: 16px;
    display: block;
  }



  /* Flag */
  .bordeCountry {
    align-self: flex-start;
  }

    .bordeCountry a {
      display: inline-block;
      font-size: 12px;
      text-decoration: none;
      color:var(--light-mode-text) ;
      padding: 0.25rem 1rem;
      background-color: var(--dark-mode-text-and-light-mode-elements);
      box-shadow: 0px 1px 5px var(--dark-mode-elements);
      margin: 0.5rem;
    }

  .backHome {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  
    /* margin: 2rem 0 4rem; */
    margin-left: 38px;
    background-color: var(--dark-mode-text-and-light-mode-elements);
    border: none;
    outline: none;
    box-shadow: 0px 1px 5px var(--dark-mode-elements);
  }

  .backHome img {
    transform: rotate(-90deg);
    width: 20%;
    margin-right: 1rem;
  }

  .backHome p{
      text-decoration: none;
  }
  .title {
    font-size: 1.5rem;
    color: var(--light-mode-text);
  }

  .border p {
    align-self: flex-start;
  }

  /* .country-spec,
  .frontier,
  .border {
    margin: 2rem 0;
    font-size: 14px;
  } */
  .bordeCountry a {
    display: inline-block;
    font-size: 12px;
    padding: 0.25rem 1rem;
    background-color: var(--dark-mode-text-and-light-mode-elements);
  box-shadow: 0px 1px 5px var(--input);
    margin: 0.5rem;
  }

  .loader {
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
  }
}

/* DarkMode*/

/*
.classDark {
  /* background-color: var(--dark-mode-elements); 
  color: var(--dark-mode-text-and-light-mode-elements);
  box-shadow: none;
}

body.classDark,
main.classDark {
  background-color: var(--dark-mode-background);
}

header.classDark,
.searchCountry input.classDark,
.searchCountry input.classDark::placeholder,
.searchCountry img.classDark,
.flag.classDark.classDark,
.mainFilter.classDark,
input.classDark,
.searchCountry.classDark,
.options.classDark,
img.classDark,
span.classDark,
.backHome.classDark {
  background-color: var(--dark-mode-elements);
  color: var(--dark-mode-text-and-light-mode-elements);
}
.container_button {
  cursor: pointer;
}
.backHome.classDark {
  background-color: var(--dark-mode-elements);
}
.bordeCountry span.classDark {
  background-color: var(--dark-mode-elements);
  color: var(--dark-mode-text-and-light-mode-elements);
  box-shadow: none;
}

*/